#opcoesPag td {
    color:white;
    background-color: green;
}

a {
    text-decoration: none;
    color: white;
}

table {
    width: 50%;
}

table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
    background-color: green;
    color: white;
}
th, td {
    padding: 10px 7px;
}
.preco {
    background-color: blue;
}

#fotoAluno {
    width: 20%;
}

.back-to-top {
    background: #fff;
    cursor: pointer;
   
    position: fixed;
    right: 1rem;
    bottom: 1rem;
   
    line-height: 0;
   
    visibility: hidden;
    opacity: 0;
   
    transition: 0.3s;
    transform: translateY(100%);
   }
   
   .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
   }